<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基礎模板</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

    <div id="root">
        <h1>學生信息</h1>
        <button @click="student.age++">年齡+1歲</button> <br/>
        <button @click="addSex">添加性別屬性,默認值:男</button> <br/>
        <button @click=" student.sex = '未知' ">修改性別</button> <br/>
        <button @click="addFriend">在列表首位添加一個朋友</button> <br/>
        <button @click="update_first_friend">修改第一個朋友的名字為:張三</button> <br/>
        <button @click="addHobby">添加一個愛好</button> <br/>
        <button @click="updateHobby">修改第一個愛好為:開車</button> <br/>

        <h3>姓名: {{student.name}}</h3>
        <h3>年齡: {{student.age}}</h3>
        <h3 v-if="student.sex">性別: {{student.sex}}</h3>
        <h3>愛好</h3>
         <ul>
             <li v-for="(h,index) in student.hobby" :key="index">
                 {{h}}
             </li>
         </ul>
        <h3>朋友們</h3>
         <ul>
             <li v-for="(f,index) in student.friends" :key="index">
                 {{f.name}}--{{f.age}}
             </li>
         </ul>
    </div>

    <script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        el:'#root',
        data:{  
            student:{
                name:'tom',
                age:18,
                hobby:['抽菸','喝酒','燙髮'], 
                friends:[
                    {name:'jerry',age:35},
                    {name:'tommy',age:26}
                ]
            }
        },
        methods: {
            addSex(){
                Vue.set(this.student,'sex','男')
            },
            addFriend(){
                this.student.friends.unshift({name:'jack',age:52})
            },
            update_first_friend(){
                this.student.friends[0].name = '張三'
            },
            addHobby(){
                this.student.hobby.push('學習')
            },
            updateHobby(){
                // this.student.hobby.splice(0,1,'開車')
                Vue.set(this.student.hobby,0,'開車')
            }
        },
    })

    
    </script>
</body>
</html>